<div class="container marg-panel">
    <div class="panel panel-primary">
        <div class="panel-heading">FaceBook Profile</div>
        <div class="panel-body">
            <div class="row divider">
            <article class="col-sm-2 visible-lg-inline-block">
                <div class="thumbnail">
                        <img src="/images/img.jpg" alt="Pulpit Rock" style="width:100%; height: 200px;">
                        <div class="caption">
                            <p><button class="btn btn-primary btn-lg" style="width:100%;">View Profile</button></p>
                        </div>
                </div>
            </article>
            <article class="col-sm-7 visible-lg-inline-block">
                <h3 class="h3-marg">UserName : <span class="label label-info">ahmad</span></h3>
                <h3 class="h3-marg">Location : <span class="label label-info">jenin</span></h3>
                <h3 class="h3-marg">Age : <span class="label label-info">24</span></h3>
                <h3 class="h3-marg">Phone : <span class="label label-info">0599879051</span></h3>
            </article>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Work History</div>
        <div class="panel-body">

        </div>
        <div class="panel-footer">
            footer
        </div>
    </div>
</div>



